body {
  padding: 0 10px;
}

.blue-button {
  padding: 6px 22px;
  background: #3b7bf6;
  border-radius: 10px;

  font-size: 0.9em;
  font-weight: 400;

  color: white;

  transition: 0.2s ease;
  cursor: pointer;

  text-decoration: none;

  &:hover {
    opacity: 0.9;
    box-shadow: 0 5px 10px rgba(40, 106, 229, 0.18);
  }

  & + & {
    margin-left: 10px;
  }
}
